.conteiner-card {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 340px;
    border: 1px solid #ddd;
    border-radius: 2px;
    overflow: hidden;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
    
  }
  
  .conteiner-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .imagen {
    display: flex;
    width: 110%;
    height: 200px;
    object-fit: cover;
    top: -10px;
    position: relative;
    border-bottom-right-radius:50%;
    border-bottom-left-radius: 50%;
   
    
  }
  
  .info-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    gap: 5px;
  }
  
  .info-card h2 {
    font-size: 1.2rem;
    color: #333;
    margin: 0;
    text-align: center;
  }
  
  .info-card h3 {
    font-size: 1rem;
    color: #888;
    margin: 0;
  }
  
  .button-card {
    width: 90%;
    padding: 10px 0;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1rem;
  }
  
  .button-card:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .button-card:active {
    transform: scale(1);
  }
  