.conteiner-notificacion{
    position: fixed;
    margin: 0;
    width: 95%;
    height: 150px;
    border: 1px solid gray;
    top: 100px;
    z-index: 1101;
    background-color: white;
    box-shadow: 0 0 10px;
    justify-items: center
}