.Formulario{
    top:100px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.Previsualizacion{
    top: 100px;
    position: relative;
}

.botton-listado{
    top: 100px;
    position: relative;
}