.Cont-Cart{
   font-family: sans-serif;
    top:150px;
    position: relative;
}
.carrito-pagina{
    display: flex;
    flex-direction: column;
}

/* FORMULARIO DATOS USUARIOS */

.form-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.form-datos label{
  display: flex;
  
}
.form-datos input{
    display: flex;
    
}

