*{
  margin: 1px;
  padding: 0px;
}
/* Ocultamos el sitio por defecto */
.only-mobile {
  display: block;
}
.not-mobile{
  display: none;
}

/* Mostramos el sitio solo si el ancho de la pantalla es menor o igual a 768px */
@media (width < 768px) {
  .only-mobile {
    display: none;
  }

  .not-mobile {
    display: block;
  }
}


.whatsapp-float{
  top: 550px;
  position: fixed;
  z-index: 3;
   display: flex;
   left: 350px;
 
}
.image-whats{
  width: 50px;
 filter: drop-shadow(0 0 20px);
  
}
